
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>Product List</h2>
<div>
    <table class="table">
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.UnitPrice</td>
                <td>@product.UnitsInstock</td>
                <td>
                    <a class="btn btn-xs btn-success"
                       asp-controller="Cart"
                       asp-action="AddToCart"
                       asp-route-productId="@product.ProductId">Add To Cart</a>
                </td>
            </tr>
        }
    </table>
</div>
